:root {
	--dark-purple: hsl(300, 43%, 22%);
	--soft-pink: hsl(333, 80%, 67%);
	--dark-magenta: hsl(303, 10%, 53%);
	--light-magenta: hsl(300, 24%, 96%);
	--white: hsl(0, 0%, 100%);
}

body {
	margin: 2rem;
	font-family: League Spartan, sans-serif;
}

// Skip links

.skip-to-content-link {
	height: 1.2rem;
	padding: 0.8rem;
	position: absolute;
	border-radius: 0.5rem;
	overflow: hidden;
	color: var(--dark-purple);
	background: var(--light-magenta);
	transform: translateY(-200%);
	z-index: 9999;

	&:focus {
		transform: translateY(0%);
	}

	*:focus {
		outline: 1px var(--dark-magenta) solid;
	}
}

.container {
	display: grid;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

/* Top section */

.top-section {
	margin-bottom: 2rem;
	display: grid;
	grid-template-rows: auto auto;
	justify-items: center;

	h1 {
		color: var(--dark-purple);
		text-align: center;
		font-size: 3rem;
		line-height: 3rem;
	}

	p {
		color: var(--dark-magenta);
		text-align: center;
	}
}

.ratings {
	width: 100%;

	.ratings p {
		color: var(--dark-purple);
	}
}

.intro {
	line-height: 1.5rem;
}

.rating-1,
.rating-2,
.rating-3 {
	display: grid;
	grid-template-areas:
		"image"
		"text";
	grid-template-rows: 1rem 2rem;
	justify-items: center;
	background-color: var(--light-magenta);
	color: var(--dark-purple);
	font-weight: 700;
	padding: 1rem;
	margin: 0.5rem;
}

.review {
	grid-area: text;
}

.five-stars {
	grid-area: image;
}

/* Testimonials section */

#card {
	background-color: var(--dark-purple);
	padding: 2rem;
	margin: 1rem;
	border-radius: 5px;
}

.profile {
	display: grid;
	grid-template-areas:
		"image name"
		"image subtitle";
	grid-template-columns: 0.3fr 0.3fr;
	grid-template-rows: 1.5rem;
}

.profile-photo {
	grid-area: image;
	border-radius: 5rem;
}

.name {
	color: var(--white);
	grid-area: name;
}

.subtitle {
	color: var(--soft-pink);
	grid-area: subtitle;
}

.testimonial {
	color: var(--white);
	line-height: 2rem;
}

/* Tablet styles  */

/* Ratings section */

@media screen and (min-width: 780px) {
	.top-section {
		margin-bottom: 2rem;
		display: grid;
		grid-template-rows: auto auto;
	}

	.intro {
		margin-right: 5rem;
	}

	/* Bottom section */

	.testimonial-section {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.profile {
		column-gap: 1rem;
		row-gap: 1rem;
	}
}

/* Desktop styles  */

/* Ratings section */

@media screen and (min-width: 1200px) {
	.top-section {
		margin-bottom: 2rem;
		margin-left: 3rem;
		display: grid;
		grid-template-columns: 0.5fr 1fr;
		grid-template-areas: "intro ratings";

		h1 {
			text-align: left;
		}

		p {
			text-align: left;
		}
	}

	.ratings {
		display: grid;
		width: auto;
		margin-top: 3rem;
		font-weight: 500;
		grid-area: ratings;
	}

	.rating-1 {
		width: 25rem;
	}

	.rating-2 {
		margin-left: 3rem;
		width: 25rem;
	}

	.rating-3 {
		margin-left: 5rem;
		width: 25rem;
	}

	.rating-1,
	.rating-2,
	.rating-3 {
		padding: 2px 10px;
		display: grid;
		grid-template-areas: "image text";
		grid-template-rows: auto auto;
		align-items: center;
	}

	.intro {
		display: grid;
		grid-area: intro;
	}

	/* Bottom section */

	.testimonial-section {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.profile {
		grid-template-columns: 0.3fr 0.5fr;
		grid-template-rows: 1.5rem;
		column-gap: 0;
		row-gap: 0;
	}
}
